@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&display=swap');

body{
    color:#111;
    background-color: #000;
    width: 100%;
    height: 100vh;
    font-family: 'Baloo Thabi 2' cursive;
    font-weight: 700;
    font-size: srem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.c2{
    display: block;
    position: relative;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.container > span {
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px rgb(255, 77, 240), 0 0 50px rgb(255, 77,
        240),0 0 100px rgb(255, 77, 240);
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}

.container > span:nth-child(2) {
    animation-delay: 0.1s;
}
.container > span:nth-child(3) {
    animation-delay: 0.2s;
}
.container > span:nth-child(4) {
    animation-delay: 0.3s;
}
.container > span:nth-child(5) {
    animation-delay: 0.4s;
}
.container > span:nth-child(6) {
    animation-delay: 1s;
}
.container > span:nth-child(7) {
    animation-delay: 1s;
}
.container > span:nth-child(8) {
    animation-delay: 0.5s;
}
.container > span:nth-child(9) {
    animation-delay: 0.6s;
}
.container > span:nth-child(10) {
    animation-delay: 0.7s;
}
.container > span:nth-child(11) {
    animation-delay: 0.8s;
}
.container > span:nth-child(12) {
    animation-delay: 0.9s;
}
.container > span:nth-child(13) {
    animation-delay: 1s;
}
.container > span:nth-child(14) {
    animation-delay: 1.1s;
}
.container > span:nth-child(15) {
    animation-delay: 1.2s;
}
.container > span:nth-child(16) {
    animation-delay: 0s;
}
.container > span:nth-child(17) {
    animation-delay: 0s;
}
.container > span:nth-child(18) {
    animation-delay: 1.3s;
}
.container > span:nth-child(19) {
    animation-delay: 1.4s;
}
.container > span:nth-child(20) {
    animation-delay: 1.5s;
}
.container > span:nth-child(21) {
    animation-delay: 1.6s;
}
.container > span:nth-child(22) {
    animation-delay: 1.7s;
}
.container > span:nth-child(23) {
    animation-delay: 1.8s;
}

.emoji{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kelip-container {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
    animation: kelip 2s infinite;
}

@keyframes kelip {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.klik{
    display: flex;
    justify-content: center;
}

.button{
    margin-right:10px;
	border: none;
	font-size: 20px;
	padding: 12px 24px;
	background: red;
	color: #000;
	border-radius: 8px;
	cursor: pointer;
}

